$font: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$dark-blue: #12537e;
$light-blue: #209cee;
$light-green: #00d1b2;
$light-grey: #f5f5f5;
$white: #fff;

.container { // whole container
  display: grid;
  justify-content: center;

  * {
    font-family: $font;
  }

  .title {
    color: $light-blue;
    text-align: center;
  }

  hr { // separator
    background-color: $light-grey;
    border: none;
    display: block;
    height: 2px;
    width: 100%;
  }

  .accordion { // the container of all panels
    border-radius: 4px;
    min-width: 400px;
    overflow: hidden;

    .accordion-header {
      background-color: $light-blue;
      border-bottom: 1px solid $light-grey;
      color: white;
      font-weight: 600;
      padding: 10px 20px;

      &:hover {
        cursor: pointer;
      }

      &--active { // active state controls which is opened
        & + .accordion-body {
          display: block;
          max-height: 500px;
        }
      }
    }

    .accordion-body {
      border: 1px solid $light-blue;
      border-top: 0 none;
      color: $dark-blue;
      display: none;
      margin: 0;
      overflow: hidden;
      padding: 0 20px;
    }
  }

  .feeder { // the button to add new panels
    align-items: center;
    background-color: $light-green;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    border-color: transparent;
    border-width: 1px;
    color: $white;
    cursor: pointer;
    display: grid;
    font-size: 1rem;
    font-weight: bold;
    height: 2.25em;
    justify-self: center;
    line-height: 1.5;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }
}
