$font: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
$light-blue: #209cee;
$dark-blue: #12537e;

.accordion {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;

  * {
    font-family: $font;
  }

  .accordion-header {
    background-color: $light-blue;
    color: white;
    font-weight: 600;
    padding: 10px 20px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      & + .accordion-body {
        display: block;
        max-height: 500px;
      }
    }
  }

  .accordion-body {
    border: 1px solid $light-blue;
    color: $dark-blue;
    display: none;
    margin: 0;
    padding: 0 20px;
  }
}
